@media (max-width:1200px) {
    body {
        font-size: calc(100vw/148.8);
    }
}

@media (max-width:768px) {
    body {
        font-size: calc(100vw/70);
    }

    .swiper-button-prev {
        visibility: hidden;
        opacity: 0;
    }

    .swiper-button-next {
        visibility: hidden;
        opacity: 0;
    }

    .nav__links {
        position: fixed;
        align-items: center;
        justify-content: center;
        gap: 12vh;
        flex-direction: column;
        top: 0;
        right: -100%;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background-color: #232323;
    }

    .nav__social {
        position: absolute;
        top: 50%;
        transform: translate(-50%, -50%);
        left: 50%;
    }

    .nav__elements {
        position: relative;
    }

    h1,
    h2,
    h3,
    .header__info {
        text-align: center;
    }

    .scills__cards {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr);
    }

    .scills__card:nth-child(3) {
        grid-column: 1/1;
    }

    .scills__card {
        margin: auto;
        width: 80vw;
        height: 60vw;
    }

    .header__elements {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .container {
        padding: 0 16px;
    }

    section .elements,
    .contacts ul {
        flex-direction: column;
        gap: 40px;
        justify-content: center;
    }

    .about__elements {
        padding-top: 100px;
    }

    .about h2 {
        position: absolute;
        right: 14%;
    }

    .contacts ul {
        gap: 30px;
        margin: auto;
    }

    .about .container {
        position: relative;
    }

    section .foto {
        position: absolute;
        top: 0;
        width: 18em;
        height: 18em;
        left: 14%;
        background: url('../res/header__foto.svg');
        border-radius: 100%;
        background-position: center;
        background-size: cover;
        border: 1px solid rgb(69, 69, 134);
    }

    hr.sectionWall {
        display: block;
    }

    .nav__social i {
        font-size: 4em;
    }

    .icon,
    .contacts i {
        font-size: 2em;
    }

    .nav__social {
        gap: 28px;
    }

    .nav__links_active {
        right: 0;
    }

    .nav__gamburger_active div:nth-child(1) {
        transform: rotate(45deg);
        top: 9px;
    }

    .nav__gamburger_active div:nth-child(2) {
        opacity: 0;
    }

    .nav__gamburger_active div:nth-child(3) {
        transform: rotate(-45deg);
        top: 9px;
    }

    .nav__links a {
        font-size: 6vh;
    }

    .nav__gamburger {
        display: block;
    }

    form {
        width: 90vw;
        font-size: 2em;
    }

    .project-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:1201px) {
    body {
        font-size: 10px;
    }
}