@media (max-width:1200px) {
    body {
        font-size: calc(100vw/148.8);
    }
}

@media (max-width:768px) {
    body {
        font-size: calc(100vw/60);
    }

    h1,
    h2 {
        font-size: 20px;
    }

    .swiper-button-prev {
        visibility: hidden;
        opacity: 0;
    }

    .swiper-button-next {
        visibility: hidden;
        opacity: 0;
    }

    .nav__links {
        position: fixed;
        transition: 400ms;
        align-items: center;
        justify-content: center;
        gap: 48px;
        flex-direction: column;
        top: 0;
        right: 100%;
        width: 100%;
        height: 100vh;
        z-index: -1;
        background-color: #232323;
    }

    .nav__elements {
        position: relative;
    }

    h1,
    h2,
    h3,
    .header__info {
        text-align: center;
    }

    .scills__cards {
        width: 100vw;
        flex-direction: column;
    }

    .scills__card:nth-child(3) {
        grid-column: 1/1;
    }

    .scills__card {
        margin: auto;
        max-height: max-content;
        font-size: 12px;
        width: 80vw;
        height: max-content;
    }

    .header__elements {
        flex-direction: column-reverse;
        gap: 40px;
    }

    .header__info a {
        width: 60%;
        font-size: 2em;
    }

    .container {
        padding: 0 16px;
    }

    section .elements,
    .contacts ul {
        flex-direction: column;
        gap: 40px;
        justify-content: center;
    }

    .about__elements {
        padding-top: 100px;
    }

    .about h2 {
        position: absolute;
        right: 14%;
    }

    .contacts ul {
        gap: 30px;
        margin: auto;
    }

    .about .container {
        position: relative;
    }

    section .foto {
        position: absolute;
        top: 0;
        width: 18vw;
        height: 18vw;
        left: 14%;

    }

    hr.sectionWall {
        display: block;
    }

    .icon,
    .contacts i {
        font-size: 24px;
    }

    .nav__social {
        transition: 400ms;
        gap: 28px;
        position: fixed;
        bottom: 8vh;
        width: 100%;
        left: 0;
        justify-content: center;
        transform: translateX(100%);
    }

    .nav__social_active {
        transform: translateX(0);
    }

    .nav__social a {
        font-size: 20px;
    }

    .nav__links_active {
        right: 0;
    }

    .nav__gamburger_active div:nth-child(1) {
        transform: rotate(45deg);
        top: 9px;
    }

    .nav__gamburger_active div:nth-child(2) {
        transform: translateX(-100%);
        opacity: 0;
    }

    .nav__gamburger_active div:nth-child(3) {
        transform: rotate(-45deg);
        top: 9px;
    }

    .nav__links a {
        font-size: 20px;
    }

    .nav__gamburger {
        display: block;
    }

    form {
        width: 90vw;
        font-size: 20px;
    }

    .project-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (min-width:1201px) {
    body {
        font-size: 10px;
    }
}