* {
    font-weight: 400;
    font-family: 'Segoe UI', sans-serif;
}

body * {
    color: white;
}

.nav__gamburger,
button,
a {
    transition: 400ms;
}

section {
    padding: 40px;
}

body {
    overflow-x: hidden;
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-color: rgb(89, 89, 237);
    --swiper-theme-color: rgb(89, 89, 237);
    background-color: rgb(15, 15, 15);
    color: white;
}

h1 {
    text-align: left;
    margin-bottom: 3vh;
    font-weight: 900;
    font-size: 6em;
}

h2 {
    text-align: left;
    margin-bottom: 3vh;
    font-weight: 700;
    font-size: 5em;
}





.main {
    padding: 10px;
    margin-top: 5%;
    background-color: white;
    color: black;
}

.swiper {
    color: white;
    width: 70vw;
    height: 30vh;
}

.swiper-slide img {
    border: 0.4vw solid white;
    position: relative;
    top: 20vh;
    width: 12.63vw;
    height: 17vh;
}




nav {
    position: fixed;
    width: 100vw;
    padding: 10px 0;
    max-height: 80px;
    top: 0;
    background-color: rgb(35, 35, 35);
}

.container {
    width: 100vw;
    margin: auto;
    max-width: 1200px;
    padding: 0 30px;
}

.nav__social {
    display: flex;
    gap: 16px;
}

.nav__logo {
    padding: 1vh;
}

.nav__logo img {
    width: 88px;
    display: inline;
    position: relative;
}

.nav__elements {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__gamburger {
    display: none;
    width: 40px;
    height: 20px;
    background: transparent;
    position: relative;
}

.nav__gamburger div {
    width: 100%;
    height: 2px;
    position: absolute;
    left: 0;
    background-color: white;
}

.nav__gamburger div:nth-child(1) {
    top: 0;
}

.nav__gamburger div:nth-child(2) {
    top: 9px;
}

.nav__gamburger div:nth-child(3) {
    bottom: 0;
}

nav ul {
    display: inline-flex;
    gap: 80px;
    align-items: center;
}

.nav__links a {
    display: inline-block;
    color: rgba(254, 254, 254, 0.929);
    font-size: 2em;
}

.nav__social i {
    font-size: 2.3em;
}

.fa-telegram {
    color: #25a3e3;
}

.fa-vk {
    color: #0f8df8;
}

.fa-whatsapp {
    color: #26b53e;
}

nav li {
    transition: 4ms;
}

nav li:hover a {
    color: #9023d4;
}






header {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    color: black;
    height: 100vh;
    background: linear-gradient(107.93deg, #5314d0 0%, #850260 100%);
    background-size: 400%;
    width: 100%;
    animation: header 5s linear infinite alternate-reverse;
    background-repeat: no-repeat;
}

@keyframes header {
    to {
        background-position: top left;
    }

    from {
        background-position: bottom right;
    }
}

.header__elements {
    gap: 72px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header * {
    color: white;
}

header hr {
    width: 100%;
    background-color: white;
    height: 0.4vh;
    margin-bottom: 3vh;
}

.header__info a {
    display: inline-block;
    --border-radius: 10vw;
    border-radius: calc(var(--border-radius)/24);
    padding: 1em 1.2em;
    border: 1px solid white;
    background: none;
    font-weight: 600;
    font-size: 1.8em;
}

header a:hover {
    background-color: white;
    color: #4D1AB2;
}

header p {
    margin-bottom: 3vh;
    font-size: 2.6em;
}

.header__foto {
    max-width: 420.22px;
    width: 36em;
}

.about {
    padding: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

section .elements {
    display: flex;
    gap: 140px;
    justify-content: center;
    align-items: center;
}

section .info .text {
    font-size: 2.2em;
}

.foto {
    width: 36em;
    max-width: 420.22px;
}

.scills .elements{
    flex-direction: row-reverse;
}

hr.sectionWall{
    display: none;
    height: 0.3vh;
    background-color: white;
    width: 90vw;
    margin: auto;
}
hr{
    height: 0.3vh;
    width: 90vw;
    margin: auto;
    background-color: white;
}
.contacts h2{
    text-align: center;
    margin-bottom: 20px;
}
.contacts .info{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contacts ul{
    margin: auto;
    display: flex;
    justify-content: center;
    gap: 24px;
}
i, .icon{
    font-size: 1em;
    width: 1em;
}