* {
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

body * {
    font-size: 10px;
    transition: 400ms;
}

body {
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-color: rgb(89, 89, 237);
    --swiper-theme-color: rgb(89, 89, 237);
    text-align: center;
    background-color: rgb(15, 15, 15);
    color: white;
}
.main {
    padding: 10px;
    margin-top: 5%;
    background-color: white;
    color: black;
}

.swiper {
    color: white;
    width: 70vw;
    height: 30vh;
}
.swiper-slide img {
    border: 0.4vw solid white;
    position: relative;
    top: 20%;
    width: 12.63vw;
    height: 17vh;
}
nav{
    position: fixed;
}