* {
    font-weight: 400;
    font-family: 'Nunito Sans', sans-serif;
}

body * {
    font-size: 10px;
    transition: 400ms;
}

body {
    --swiper-pagination-bullet-inactive-color: white;
    --swiper-pagination-color: rgb(89, 89, 237);
    --swiper-theme-color: rgb(89, 89, 237);
    text-align: center;
    background-color: rgb(15, 15, 15);
    color: white;
}
.main {
    padding: 10px;
    margin-top: 5%;
    background-color: white;
    color: black;
}

.swiper {
    color: white;
    width: 70vw;
    height: 30vh;
}
.swiper-slide img {
    border: 0.4vw solid white;
    position: relative;
    top: 20vh;
    width: 12.63vw;
    height: 17vh;
}
nav{
    position: fixed;
    width: 100vw;
    top: 0;
    background-color: rgb(35, 35, 35);
}
.container{
    position: relative;
    padding: 0.5%;
    margin: auto;
    max-width: 1200px;
    height: 100%;
}
.nav__elements{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav ul{
    display: inline-flex;
    gap: 8vw;
    align-items: center;
}
nav a{
    display: inline-block;
    color: rgba(222, 222, 222, 0.929);
    font-size: 2.2em;
}
nav li:hover{
    border: 1px solid white;
}
.icon{
    width: 4vw;
}